@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Roboto&display=swap");
img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 62.5%;
  font-family: "M PLUS 1p", "Roboto", sans-serif;
}

a,
a:link a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
}

body {
  line-height: 1.4;
}

body.noneScroll {
  position: fixed;
}

.l-container {
  height: 100%;
  display: grid;
  grid-template-rows: 195px 1fr 130px;
  grid-template-columns: 1fr 23%;
  box-sizing: border-box;
}
@media (max-width: 1132px) {
  .l-container {
    display: block;
  }
}

.l-header {
  background-color: #FFF7EF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
}
@media (max-width: 1132px) {
  .l-header {
    display: flex;
    flex-flow: column;
  }
}

.l-header__title {
  color: #707070;
  font-size: 5.5em;
  font-weight: bold;
  margin-left: 55px;
}
@media (max-width: 1132px) {
  .l-header__title {
    font-size: 3.5em;
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 599px) {
  .l-header__title {
    font-size: 4em;
    margin: 40px 0px 40px 0;
  }
}

.l-header__sidebar__open {
  display: none;
}
@media (max-width: 1132px) {
  .l-header__sidebar__open {
    position: absolute;
    display: block;
    font-size: 2.8em;
    font-weight: bold;
    color: #707070;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
}
@media (max-width: 599px) {
  .l-header__sidebar__open {
    font-size: 2em;
  }
}

.l-main__top__image {
  position: relative;
  background-image: url(/img/top-img.jpg);
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 480px;
}
@media (max-width: 1132px) {
  .l-main__top__image {
    height: 245px;
  }
}
@media (max-width: 599px) {
  .l-main__top__image {
    background-image: url(../../images/top-hurg-sp.png);
    height: 285px;
  }
}

.l-main__top__txt {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  font-size: 3.8em;
}
@media (max-width: 1132px) {
  .l-main__top__txt {
    display: none;
  }
}
@media (max-width: 599px) {
  .l-main__top__txt {
    display: block;
    position: absolute;
    top: 45%;
    left: 5%;
    color: #fff;
    font-size: 3.6em;
  }
}

.l-main__service__menu__body {
  display: flex;
  background-color: #FFFDFA;
}
@media (max-width: 599px) {
  .l-main__service__menu__body {
    display: flex;
    flex-flow: column;
  }
}

.l-main__service__menu__takeout {
  background-image: url(../../images/menu-takeout-pc.png);
  background-size: cover;
  width: 100%;
}
@media (max-width: 1132px) {
  .l-main__service__menu__takeout {
    background-image: url(../../images/menu-takeout-tab.png);
    background-size: cover;
  }
}
@media (max-width: 599px) {
  .l-main__service__menu__takeout {
    background-image: url(../../images/menu-takeout-sp.png);
    background-size: cover;
    background-position: center;
    width: auto;
  }
}

.l-main__service__menu__eatin {
  background-image: url(../../images/menu-eatin-pc.png);
  background-size: cover;
  width: 100%;
}
@media (max-width: 1132px) {
  .l-main__service__menu__eatin {
    background-image: url(../../images/menu-eatin-tab.png);
    background-position: center;
  }
}
@media (max-width: 599px) {
  .l-main__service__menu__eatin {
    background-image: url(../../images/menu-eatin-sp.png);
    background-size: cover;
    background-position: center;
    width: auto;
  }
}

.l-footer {
  background-image: url(../../images/footer.png);
  width: 100%;
  grid-column: 1/3;
  color: #fff;
  text-align: center;
  z-index: 400;
}
@media (max-width: 1132px) {
  .l-footer {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.l-footer ul {
  font-size: 1.8em;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 1132px) {
  .l-footer ul {
    margin-top: 15px;
  }
}
.l-footer small {
  font-size: 1.5em;
  margin-bottom: 20px;
}
@media (max-width: 1132px) {
  .l-footer small {
    font-size: 1.2em;
  }
}

.l-footer__txt {
  display: flex;
  justify-content: center;
}

.l-footer__txt__1 {
  padding-right: 1em;
}

.l-footer__txt__2 {
  padding-left: 1em;
  border-left: 2px solid #ffffff;
}

.l-sidebar {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: #F2EDE9;
  color: #707070;
}
@media (max-width: 1132px) {
  .l-sidebar {
    position: fixed;
    left: 155%;
    transition: 0.5s;
  }
}

.l-sidebar__main__title {
  font-size: 3em;
  font-family: Roboto;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 35px;
  margin-bottom: 60px;
}
@media (max-width: 1132px) {
  .l-sidebar__main__title {
    display: none;
  }
}

.l-sidebar__main__list {
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 35px;
}
.l-sidebar__main__list ul {
  list-style: none;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 25px;
}
.l-sidebar__main__list ul li {
  margin-top: 16px;
}

.l-main__map {
  display: block;
  position: relative;
  min-height: 400px;
}
@media (max-width: 1132px) {
  .l-main__map {
    min-height: 400px;
  }
}
.l-main__map::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
}
@media (max-width: 599px) {
  .l-main__map::before {
    height: 60%;
  }
}
.l-main__map img {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 100;
}

.l-main__map__container {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.29);
  z-index: 400;
  color: #fff;
  width: 60%;
  height: 100%;
  padding: 83px 110px 40px 110px;
}
@media (max-width: 1132px) {
  .l-main__map__container {
    width: 100%;
    padding: 30px 40px 40px 40px;
  }
}
.l-main__map__container hr {
  border: solid 0.5px #fff;
  width: 60px;
  margin-top: 50px;
  margin-left: 5px;
  margin-bottom: 50px;
}
@media (max-width: 1132px) {
  .l-main__map__container hr {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.l-main__map__container p {
  font-size: 1.4em;
  line-height: 2em;
  font-weight: bold;
}

.l-main__map__title {
  font-size: 3em;
}

.l-main {
  background-color: #FFFDFA;
}

.l-main__archive__top__image {
  position: relative;
  background-image: url(../../images/archive-top.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 239px;
}
@media (max-width: 599px) {
  .l-main__archive__top__image {
    height: 283px;
    background-position: left;
  }
}
.l-main__archive__top__image::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.l-main__archive {
  margin: 5vh 5vh 5vh 5vh;
  color: #3C2A10;
}
@media (max-width: 599px) {
  .l-main__archive {
    margin: 3vh 2vh 2vh 2vh;
  }
}

.l-main__archive__subheading {
  font-size: 2.8em;
  margin-bottom: 25px;
}

.archive__card {
  display: flex;
  margin: 0vh 8vh 3vh 8vh;
}
@media (max-width: 1132px) {
  .archive__card {
    margin: 0vh 5vh 2vh 5vh;
  }
}
@media (max-width: 599px) {
  .archive__card {
    margin: 0vh 2vh 2vh 2vh;
  }
}

.archive__card__body {
  display: flex;
  width: 100%;
}
@media (max-width: 599px) {
  .archive__card__body {
    display: block;
  }
}

.archive__card__img {
  background-image: url(../../images/archive-section.png);
  width: 50%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 599px) {
  .archive__card__img {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
  }
}

.archive__card__txt {
  background-color: #3C2B1C;
  width: 50%;
  padding: 5vh 5vh 5vh 5vh;
  color: #fff;
}
@media (max-width: 1132px) {
  .archive__card__txt {
    padding: 3vh 3vh 3vh 3vh;
  }
}
@media (max-width: 599px) {
  .archive__card__txt {
    width: 100%;
    padding: 3vh 3vh 5vh 3vh;
  }
}

.archive__card__txt h2 {
  font-size: 2.8em;
  margin-bottom: 5vh;
}
@media (max-width: 1132px) {
  .archive__card__txt h2 {
    font-size: 2em;
    margin-bottom: 3vh;
  }
}

.archive__card__txt h4 {
  font-size: 2em;
  margin-bottom: 15px;
}
@media (max-width: 1132px) {
  .archive__card__txt h4 {
    font-size: 1.6em;
  }
}

.archive__card__txt p {
  max-width: 90%;
}
@media (max-width: 1132px) {
  .archive__card__txt p {
    font-size: 1.2em;
  }
}

.l-main {
  background-color: #FFFDFA;
  color: #3C2A10;
}

.l-main__body {
  margin: 0em 6em 0em 6em;
}
@media (max-width: 599px) {
  .l-main__body {
    margin: 0em 2em 0em 2em;
  }
}

.l-main__single__top__image {
  position: relative;
  background-image: url(../../images/single-top.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 380px;
}
@media (max-width: 599px) {
  .l-main__single__top__image {
    height: 283px;
    background-position: left;
  }
}

.l-main__single__section1__title {
  margin-top: 1.5em;
  font-size: 2.8em;
}

.l-main__single__section1__txt {
  margin-top: 4em;
  font-size: 1.2em;
}

.l-main__single__section2 {
  margin: 5em 0em 3em 0em;
}

.l-main__single__section2 h3 {
  font-size: 2em;
}

.l-main__single__section2 h4 {
  margin-top: 3em;
  font-size: 1.5em;
}
@media (max-width: 599px) {
  .l-main__single__section2 h4 {
    margin-top: 2em;
  }
}

.l-main__single__section2 h5 {
  font-size: 1.5em;
  margin-top: 5em;
}
@media (max-width: 599px) {
  .l-main__single__section2 h5 {
    margin-top: 2em;
  }
}

.l-main__single__section2 h6 {
  font-size: 1.5em;
  margin-top: 6em;
}
@media (max-width: 599px) {
  .l-main__single__section2 h6 {
    margin-top: 2em;
  }
}

.l-main__single__section3 {
  padding: 1em 3em 1em 3em;
  background-color: #F5F5F5;
}
.l-main__single__section3 p {
  margin: 3em 0em 3em 0em;
}

.l-main__single__section3__cite {
  margin: 3em 0em 3em 0em;
}
.l-main__single__section3__cite a {
  font-style: normal;
  text-decoration: underline;
}

.l-main__single__section4 {
  margin: 5em 0em 5em 0em;
}
@media (max-width: 599px) {
  .l-main__single__section4 {
    margin: 3em 0em 3em 0em;
  }
}

.l-main__singl__section4__sub1__body1 {
  display: flex;
  margin: 5em 0em 5em 0em;
  width: 100%;
}
.l-main__singl__section4__sub1__body1 p {
  text-indent: 1em;
  margin-left: 3em;
}
@media (max-width: 599px) {
  .l-main__singl__section4__sub1__body1 p {
    margin-left: 1em;
  }
}

.l-main__singl__section4__sub1_img {
  width: 100%;
}
@media (max-width: 1132px) {
  .l-main__singl__section4__sub1_img {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 599px) {
  .l-main__singl__section4__sub1_img {
    height: 89px;
  }
}

.l-main__singl__section4__sub1__body2 {
  display: flex;
  margin-bottom: 5em;
}
.l-main__singl__section4__sub1__body2 p {
  text-indent: 1em;
  margin-right: 3em;
}
@media (max-width: 599px) {
  .l-main__singl__section4__sub1__body2 p {
    margin-right: 1em;
  }
}

.l-main__singl__section4__sub1__body3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1132px) {
  .l-main__singl__section4__sub1__body3 img {
    width: 70%;
  }
}
@media (max-width: 599px) {
  .l-main__singl__section4__sub1__body3 img {
    width: 80%;
  }
}

.l-main__single__section5__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
@media (max-width: 1132px) {
  .l-main__single__section5__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 599px) {
  .l-main__single__section5__body {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}

.l-main__single__section6__body {
  margin: 5em;
}
.l-main__single__section6__body ul {
  list-style: none;
}

.l-main__single__section6__body__list1 {
  margin-top: 3em;
}

.l-main__single__section6__body__list2 {
  margin-top: 3em;
  margin-left: 3em;
}

.l-main__single__section6__body__list3 {
  margin-top: 3em;
  margin-bottom: 6em;
}

.l-main__single__section6__body__list4 {
  margin-top: 3em;
}

.l-main__single__section6__body__list5 {
  margin-top: 3em;
  margin-left: 3em;
}

.l-main__single__section6__body__list6 {
  margin-top: 3em;
}

.l-main__single__section7 {
  background-color: #F5F5F5;
  padding: 3em;
}
.l-main__single__section7 ul {
  list-style: none;
}

.l-main__single__section7__body li:not(:first-of-type):not(:last-of-type) {
  margin-left: 2em;
}

.l-main__single__section8__body {
  margin: 5em 0em 5em 0em;
}
.l-main__single__section8__body table {
  width: 100%;
}

.l-main__single__section8__body table {
  border-collapse: collapse;
  background-color: #FFF;
}

.l-main__single__section8__body table tr td {
  font-size: 1.4em;
  border: solid 1px #707070;
  padding: 2em 0em 2em 2em;
}
.l-main__single__section8__body table tr td:nth-child(1n) {
  width: 35%;
}
.l-main__single__section8__body table tr td:nth-child(2n) {
  width: 65%;
}

.l-main__single__txt {
  padding: 5em 0em 20em 0em;
}
.l-main__single__txt p {
  font-weight: bold;
  font-size: 1.4em;
}

.l-main {
  background-color: #FFFDFA;
  color: #3C2A10;
}

.l-main__body {
  margin: 0em 6em 0em 6em;
}
@media (max-width: 599px) {
  .l-main__body {
    margin: 0em 2em 0em 2em;
  }
}

.l-main__page__top__image {
  position: relative;
  background-image: url(../../images/page-top.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 380px;
}
@media (max-width: 599px) {
  .l-main__page__top__image {
    height: 283px;
    background-position: left;
  }
}

.l-main__page__section1__title {
  margin-top: 1.5em;
  font-size: 2.8em;
}

.l-main__page__section1__txt {
  margin-top: 4em;
  font-size: 1.2em;
}

.l-main__page__section2 {
  margin: 5em 0em 3em 0em;
}

.l-main__page__section2 h3 {
  font-size: 2em;
}

.l-main__page__section2 h4 {
  margin-top: 3em;
  font-size: 1.5em;
}
@media (max-width: 599px) {
  .l-main__page__section2 h4 {
    margin-top: 2em;
  }
}

.l-main__page__section2 h5 {
  font-size: 1.5em;
  margin-top: 5em;
}
@media (max-width: 599px) {
  .l-main__page__section2 h5 {
    margin-top: 2em;
  }
}

.l-main__page__section2 h6 {
  font-size: 1.5em;
  margin-top: 6em;
}
@media (max-width: 599px) {
  .l-main__page__section2 h6 {
    margin-top: 2em;
  }
}

.l-main__page__section3 {
  padding: 1em 3em 1em 3em;
  background-color: #F5F5F5;
}
.l-main__page__section3 p {
  margin: 3em 0em 3em 0em;
}

.l-main__page__section3__cite {
  margin: 3em 0em 3em 0em;
}
.l-main__page__section3__cite a {
  font-style: normal;
  text-decoration: underline;
}

.l-main__page__section4 {
  margin: 5em 0em 5em 0em;
}
@media (max-width: 599px) {
  .l-main__page__section4 {
    margin: 3em 0em 3em 0em;
  }
}

.l-main__page__section4__sub1__body1 {
  display: flex;
  margin: 5em 0em 5em 0em;
  width: 100%;
}
.l-main__page__section4__sub1__body1 p {
  text-indent: 1em;
  margin-left: 3em;
}
@media (max-width: 599px) {
  .l-main__page__section4__sub1__body1 p {
    margin-left: 1em;
  }
}

.l-main__page__section4__sub1_img {
  width: 100%;
}
@media (max-width: 1132px) {
  .l-main__page__section4__sub1_img {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 599px) {
  .l-main__page__section4__sub1_img {
    height: 89px;
  }
}

.l-main__page__section4__sub1__body2 {
  display: flex;
  margin-bottom: 5em;
}
.l-main__page__section4__sub1__body2 p {
  text-indent: 1em;
  margin-right: 3em;
}
@media (max-width: 599px) {
  .l-main__page__section4__sub1__body2 p {
    margin-right: 1em;
  }
}

.l-main__page__section4__sub1__body3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1132px) {
  .l-main__page__section4__sub1__body3 img {
    width: 70%;
  }
}
@media (max-width: 599px) {
  .l-main__page__section4__sub1__body3 img {
    width: 80%;
  }
}

.l-main__page__section5__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
@media (max-width: 1132px) {
  .l-main__page__section5__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 599px) {
  .l-main__page__section5__body {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}

.l-main__page__section6__body {
  margin: 5em;
}
.l-main__page__section6__body ul {
  list-style: none;
}

.l-main__page__section6__body__list1 {
  margin-top: 3em;
}

.l-main__page__section6__body__list2 {
  margin-top: 3em;
  margin-left: 3em;
}

.l-main__page__section6__body__list3 {
  margin-top: 3em;
  margin-bottom: 6em;
}

.l-main__page__section6__body__list4 {
  margin-top: 3em;
}

.l-main__page__section6__body__list5 {
  margin-top: 3em;
  margin-left: 3em;
}

.l-main__page__section6__body__list6 {
  margin-top: 3em;
}

.l-main__page__section7 {
  background-color: #F5F5F5;
  padding: 3em;
}
.l-main__page__section7 ul {
  list-style: none;
}

.l-main__page__section7__body li:not(:first-of-type):not(:last-of-type) {
  margin-left: 2em;
}

.l-main__page__section8__body {
  margin: 5em 0em 5em 0em;
}
.l-main__page__section8__body table {
  width: 100%;
}

.l-main__page__section8__body table {
  border-collapse: collapse;
  background-color: #FFF;
}

.l-main__page__section8__body table tr td {
  font-size: 1.4em;
  border: solid 1px #707070;
  padding: 2em 0em 2em 2em;
}
.l-main__page__section8__body table tr td:nth-child(1n) {
  width: 35%;
}
.l-main__page__section8__body table tr td:nth-child(2n) {
  width: 65%;
}

.l-main__page__txt {
  padding: 5em 0em 20em 0em;
}
.l-main__page__txt p {
  font-weight: bold;
  font-size: 1.4em;
}

.c-seach__container {
  display: flex;
  align-items: center;
}

.search_container {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 50px 0 50px 0;
}
@media (max-width: 1132px) {
  .search_container {
    padding: 30px 0px 40px 0px;
  }
}
@media (max-width: 599px) {
  .search_container {
    padding: 0px 0px 40px 0px;
  }
}

.search_container input[type=text] {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 35px;
  width: 360px;
  padding-left: 40px;
}
@media (max-width: 1132px) {
  .search_container input[type=text] {
    width: 300px;
  }
}
@media (max-width: 599px) {
  .search_container input[type=text] {
    width: 200px;
  }
}

.search_container input[type=text]:focus {
  outline: 0;
}

.search_container input[type=submit] {
  cursor: pointer;
  border: 1px solid #707070;
  border-radius: 8px;
  background: #F2EDE9;
  font-size: 1.4em;
  font-weight: bold;
  color: #707070;
  height: 35px;
  width: 100px;
  margin-left: 8px;
  margin-right: 30px;
}
@media (max-width: 1132px) {
  .search_container input[type=submit] {
    margin-right: 0px;
  }
}
@media (max-width: 599px) {
  .search_container input[type=submit] {
    width: 70px;
  }
}

.search_container ::-webkit-input-placeholder {
  color: #fff;
}

.fa-magnifying-glass::before {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 2em;
  color: #808080;
  font-weight: 600;
  content: "\f002";
  top: 59px;
  left: 10px;
}
@media (max-width: 1132px) {
  .fa-magnifying-glass::before {
    top: 40px;
  }
}
@media (max-width: 599px) {
  .fa-magnifying-glass::before {
    top: 10px;
  }
}

.l-main__service__menu__body {
  width: 100%;
}

.l-main__service__menu__body li {
  list-style: none;
}

.l-main__service__menu__sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.l-main__service__menu__body hr {
  border: solid 2px #fff;
  width: 50px;
  margin-top: 17px;
  margin-left: 25px;
  margin-bottom: 15rem;
}
@media (max-width: 1132px) {
  .l-main__service__menu__body hr {
    width: 25px;
  }
}

.l-main__service__menu__body h2 {
  color: #fff;
  font-size: 5.5em;
  font-family: "Roboto";
  padding-top: 14px;
  padding-left: 15px;
}
@media (max-width: 1132px) {
  .l-main__service__menu__body h2 {
    font-size: 3.5em;
  }
}

.l-main__service__menu__body dl {
  background-color: rgba(255, 255, 255, 0.8);
}

.l-main__service__menu__body dt {
  font-size: 2.2em;
  font-weight: 700;
  font-family: "M PLUS 1p";
}

.l-main__service__menu__body dd {
  color: #3C2A10;
  font-size: 1.6em;
  line-height: 1.7em;
  margin: 0 15px 15px 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.l-main__service__menu__takeout__card {
  box-sizing: border-box;
  margin-top: auto;
}

.l-main__service__menu__takeout {
  margin: 105px 30px 100px 80px;
}
@media (max-width: 1132px) {
  .l-main__service__menu__takeout {
    margin: 40px 15px 35px 40px;
  }
}
@media (max-width: 1132px) and (max-width: 599px) {
  .l-main__service__menu__takeout {
    margin: 20px;
  }
}
.l-main__service__menu__takeout__subtitle {
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 9px;
}

.l-main__service__menu__eatin {
  margin: 105px 80px 100px 30px;
}
@media (max-width: 1132px) {
  .l-main__service__menu__eatin {
    margin: 40px 40px 35px 25px;
  }
}
@media (max-width: 599px) {
  .l-main__service__menu__eatin {
    margin: 20px 20px 50px 20px;
  }
}
.l-main__service__menu__eatin__subtitle {
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 9px;
}

.l-main__service__menu__eatin__card {
  box-sizing: border-box;
  margin-top: auto;
}

.l-main__service__menu__card__sub {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.btn {
  cursor: pointer;
}

.l-sidebar__close {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
}

.l-sidebar__close__btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}

@media (max-width: 1132px) {
  .l-sidebar__close__btn::before {
    content: "";
    width: 55%;
    height: 5px;
    top: 50%;
    left: 22.5%;
    background-color: #707070;
    position: absolute;
    display: block;
    transform: rotate(45deg);
  }
}

@media (max-width: 1132px) {
  .l-sidebar__close__btn::after {
    content: "";
    width: 55%;
    height: 5px;
    top: 50%;
    left: 22.5%;
    background-color: #707070;
    position: absolute;
    display: block;
    transform: rotate(-45deg);
  }
}

.archive__card__btn {
  display: flex;
  justify-content: center;
}

.archive__card__btn button {
  margin-top: 5vh;
  border: 1px #fff solid;
  background-color: #fff;
  border-radius: 50vh;
  padding: 2vh 8vh 2vh 8vh;
}
@media (max-width: 1132px) {
  .archive__card__btn button {
    padding: 1vh 5vh 1vh 5vh;
    font-size: 1.4em;
  }
}

.l-main__archive__top__txt {
  position: absolute;
  top: 40%;
  left: 50px;
  color: #fff;
  font-size: 3.8em;
  font-family: "Roboto";
}
@media (max-width: 1132px) {
  .l-main__archive__top__txt {
    font-size: 4.5em;
  }
}
@media (max-width: 599px) {
  .l-main__archive__top__txt {
    font-size: 3.5em;
  }
}

.l-main____archive__top__txt_sub {
  position: absolute;
  top: 48%;
  left: 200px;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 1132px) {
  .l-main____archive__top__txt_sub {
    top: 50%;
    left: 230px;
  }
}
@media (max-width: 599px) {
  .l-main____archive__top__txt_sub {
    top: 60%;
    left: 50px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
  font-weight: bold;
}
@media (max-width: 1132px) {
  .pagination {
    margin-top: 13vh;
    margin-bottom: 3vh;
  }
}
@media (max-width: 599px) {
  .pagination {
    display: none;
  }
}

.pagenation-sp {
  display: none;
}
@media (max-width: 599px) {
  .pagenation-sp {
    display: flex;
    justify-content: space-between;
    margin: 5vh 2vh 3vh 2vh;
    color: #707070;
    font-size: 1.6em;
  }
}

.pagination p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  font-weight: 500;
}

.pagination .prev {
  color: #707070;
  border: none;
  font-size: 1.6em;
  align-items: center;
}

.pagination .next {
  color: #707070;
  border: none;
  font-size: 1.6em;
  align-items: center;
  margin-right: 0px;
}

.pagination li {
  display: inline;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1.5px #ccc solid;
  color: #707070;
  font-size: 1.6em;
  color: #707070;
  background-color: #fff;
}

.pagination .first {
  background-color: #3C2B1C;
  color: #fff;
}

.l-main__single__top__txt {
  position: absolute;
  top: 40%;
  left: 50px;
  color: #fff;
  font-size: 3.8em;
  font-family: "Roboto";
}
@media (max-width: 1132px) {
  .l-main__single__top__txt {
    font-size: 4em;
  }
}

.c-main__single__btn {
  cursor: pointer;
  border: 1px solid #707070;
  border-radius: 20px;
  background: #F2EDE9;
  font-size: 1.4em;
  font-weight: bold;
  color: #707070;
  height: 80px;
  width: 330px;
}
@media (max-width: 599px) {
  .c-main__single__btn {
    width: 100%;
  }
}

.l-main__page__top__txt {
  position: absolute;
  top: 40%;
  left: 50px;
  color: #fff;
  font-size: 3.8em;
  font-family: "Roboto";
}
@media (max-width: 1132px) {
  .l-main__page__top__txt {
    font-size: 4em;
  }
}

.l-sidebar_open {
  top: 0;
  left: 55%;
  height: 100vh;
  width: 45%;
  z-index: 2000;
  overflow: auto;
}
@media (max-width: 599px) {
  .l-sidebar_open {
    left: 20%;
    width: 80%;
  }
}

.l-sidebar__main_bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  z-index: 1000;
}

.l-sidebar__main_bg.l-sidebar_open {
  top: 0;
  left: 0;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
}
/*# sourceMappingURL=style.css.map */